langchain
langchain
langchain-community
langchain-core

sentence-transformers
faiss-cpu

langchain-groq
langchain-google-genai
python-dotenv
ipykernel
pypdf
fastapi
uvicorn
python-dotenv
python-multipart
PyMuPDF
structlog
docx2txt
streamlit
pytest

cfn-lint

-e .